<div class="row">

   
        <%= form_with(model: ticket, local: true) do |form| %>
        <% if ticket.errors.any? %>
            <div id="error_explanation">
            <h2 style="color: white; text-align: center;"><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

            <ul class="text-center" style="list-style: none;">
                <% ticket.errors.full_messages.each do |message| %>
                <li style="color: white"><%= message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>
    

    <div class="col-md-4">
    </div>

    <div class="col-md-4"> 
    <div class="field">
        <%= form.hidden_field :event_id, :value => ticket.event_id %>
    </div>

    <div class="field">
        <%= form.hidden_field :user_id, :value => ticket.user_id %>
    </div>

    <div class="field">
        <%= form.label :name, style: "color: white" %>
        <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="field">
        <%= form.label :seat_id_seq, style: "color: white" %>
        <%= form.text_field :seat_id_seq, class: "form-control" %>
    </div>

    <div class="field">
        <%= form.label :address, style: "color: white" %>
        <%= form.text_area :address, class: "form-control" %>
    </div>

    <div class="field">
        <%= form.label :price, style: "color: white" %>
        <%= form.text_field :price, class: "form-control" %>
    </div>

    <div class="field">
        <%= form.label :email_address, style: "color: white" %>
        <%= form.text_field :email_address, class: "form-control" %>
    </div>


    <div class="field">
        <%= form.label :phone, style: "color: white" %>
        <%= form.text_field :phone, class: "form-control" %>
    </div>

    <div class="text-center" style="margin-top: 20px;  margin-bottom: 15px;">
        <div class="actions">
            <%= form.submit 'Save ticket', :class => "btn btn-default" %>
        </div>
    </div>

    <% end %>
    </div>

    <div class="col-md-4">
    </div>

</div>