<div class="container-fluid show-container">

<div class="container">
    <p id="notice"><%= notice %></p>

    <h2 class="text-center" style="color: white">Your ticket </h2>
    
    <div class="card-custom">
    <img src="https://source.unsplash.com/ZhQCZjr9fHo/" alt="Concert image" style="width:100%">
        <div class="container-card">
            <h4><b><strong>Name: </strong><%= @ticket.name %></b> | <strong>Seat id seq:</strong> <%= @ticket.seat_id_seq %></h4> 
            <p><strong>Address:</strong> <%= @ticket.address %> |     <strong>Price:</strong> <%= @ticket.price %></p> 
            <p><strong>Email address:</strong> <%= @ticket.email_address %> </p>
            <p><strong>Phone:</strong> <%= @ticket.phone %> </p>
        </div>
    </div>

    <div class="row text-center" style="margin-top: 20px">

        <% if @ticket.user == current_user %>
            <button class="btn btn-default"> <%= link_to 'Edit', edit_ticket_path(@ticket) %> </button>
        <% end %>

         <button class="btn btn-default">  <%= link_to 'Back', tickets_path %> </button>
    
    </div>

</div>

</div>